<div class="sidebar_toggle">
  <span class="sidebar_arrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/>
    </svg>
  </span>
</div>
<ul class="sidebar_category">
  <% const sidebarParameter = pageType; %>
  <% const sidebarList = gadgetList.filter(category => category.category === sidebarParameter);%>
  <% if (sidebarList.length > 0 && pageType !== 'home') { %>
    <% sidebarList.forEach(gadget => { %>
      <li class="category_link">
        <a href="/<%= gadget.category %>/<%= gadget.slug %>"><%= gadget.title %></a>
      </li>
  <% }) %>
  <% } else {%>
     <% gadgetList.forEach(gadget => { %>
     <li class="category_link">
       <a href="/<%= gadget.category %>/<%= gadget.slug %>"><%= gadget.title %></a>
     </li>
    <% }) %>
  <% } %>
</ul>