<%- include("../partials/head") %><div class="team">
  <% teamMembers.forEach(member => { %>
    <div class="team-card">
      <img src="<%= member.image %>" alt="<%= member.name %>">
      <h3><%= member.name %></h3>
      <p><%= member.role %></p>
      <p><%= member.bio %></p>
    </div>
  <% }) %>
</div>