<<<<<<< HEAD
<%- include("../partials/head") %><div class="team">
=======
<div class="team">
>>>>>>> feature/011-category-page
  <% teamMembers.forEach(member => { %>
    <div class="team-card">
      <img src="<%= member.image %>" alt="<%= member.name %>">
      <h3><%= member.name %></h3>
      <p><%= member.role %></p>
      <p><%= member.bio %></p>
    </div>
  <% }) %>
<<<<<<< HEAD
</div>
=======
</div>
<%- include("../partials/head") %>
>>>>>>> feature/011-category-page
