<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="sidebar"><%- include("../partials/sideBarCategory") %></div>
      <div class="content">
        <h1>Welcome to <%= categoryHeroPage?.category || 'Category' %> page</h1>
        <p>
          <%= categoryHeroPage?.description || 'No description available' %>
        </p>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
