<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body> 
  <%- include("../partials/header") %>
  <main class="main_category">
    <div class="sidebar">
       <%- include("../partials/sidebar") %>
    </div>
    <div class="category_content">
      <div>
        <% const parameter = headTitle; %>
        <% const categoryDescription = categoryContent.find(category => category.name === parameter);%>
        <% if (categoryDescription) {%>
            <div class="category_image">
              <img src="<%= categoryDescription.image %>" alt="<%= categoryDescription.header %>" height="200px" width="auto">
            </div>
            <h2 class="category_header"><%= categoryDescription.header %></h2>
            <p class="category_description"><%= categoryDescription.description %></p>
        <% } %>
      </div>
    </div>
  </main>
  <%- include("../partials/footer") %>
</body>
</html>