<%- include("../partials/head") %>
<body>
<%- include("../partials/header") %>
<main class="homepage_body">
  <div class="hero_section">
    <div class="hero_content">
      <h1><%= homepageContent.header %></h3>
      <p><%= homepageContent.subtitle %></p>
    </div>
  </div>
</main>
<%- include("../partials/footer") %>
</body>
</html>